@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #808080;
}

ul li > a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

span {
    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
}


/*=================
/* Main Navigation
===================*/
button.icon-bar:focus {
	outline: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
header{
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#headers{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 999;
}
#headers.hide{
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

#headers.header-shadow{
    -webkit-box-shadow: 0 0 15px 2px #a0a0a07a;
            box-shadow: 0 0 15px 2px #a0a0a07a;
}

.main-navs ul>li {
    margin-right: 20px;
}

.main-navs ul>li:last-child {
    margin-right: 0;
}

.main-navs ul>li>a {
    position: relative;
}

.main-navs ul>li>a.contacts {
    background: #0d6efd;
}

.main-navs ul>li.active:not(li.contacts-li)>a::before {
    width: 50%;
}

.main-navs ul>li:not(.contacts-li)>a::before {
    background: #ee4212;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0;
    width: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.main-navs ul>li:hover>a::before {
    width: 100%;
}

.main-navs ul>li.active:hover>a::before {
    width: 100% !important;
}


/*==================
/* Hero Section
===================*/

#hero-section {
    position: relative;
    margin-top: 56px;
    height: 85vh;
}


/* Shape Icon */

.shape-slider .shape {
    position: absolute;
    z-index: 1;
}

.shape-slider img.shape-4 {
    top: 10%;
    left: 20%;
}

.shape-slider img.shape-5 {
    top: 50%;
    left: 5%;
}

.shape-slider img.shape-6 {
    bottom: 5%;
    left: 20%;
}

.shape-slider img.shape-7 {
    bottom: 5%;
    right: 10%;
}


/* Animation Shape */

.shape-slider img.shape-1 {
    right: 8%;
    top: 10%;
    -webkit-animation: moveShape 20s linear 2s infinite alternate;
            animation: moveShape 20s linear 2s infinite alternate;
}

@-webkit-keyframes moveShape {
    0% {
        right: 10%;
        top: 10%;
    }
    25% {
        right: 15%;
        top: 35%;
    }
    50% {
        right: 8%;
        top: 45%;
    }
    75% {
        right: 6%;
        top: 30%;
    }
    100% {
        right: 10%;
        top: 20%;
    }
}

@keyframes moveShape {
    0% {
        right: 10%;
        top: 10%;
    }
    25% {
        right: 15%;
        top: 35%;
    }
    50% {
        right: 8%;
        top: 45%;
    }
    75% {
        right: 6%;
        top: 30%;
    }
    100% {
        right: 10%;
        top: 20%;
    }
}

.shape-slider img.shape-2 {
    right: 46%;
    top: 14%;
    -webkit-animation: moveShape2 20s linear 2s infinite alternate;
            animation: moveShape2 20s linear 2s infinite alternate;
}

@-webkit-keyframes moveShape2 {
    0% {
        right: 46%;
        top: 15%;
    }
    25% {
        right: 50%;
        top: 30%;
    }
    50% {
        right: 40%;
        top: 35%;
    }
    75% {
        right: 45%;
        top: 30%;
    }
    100% {
        right: 30%;
        top: 25%;
    }
}

@keyframes moveShape2 {
    0% {
        right: 46%;
        top: 15%;
    }
    25% {
        right: 50%;
        top: 30%;
    }
    50% {
        right: 40%;
        top: 35%;
    }
    75% {
        right: 45%;
        top: 30%;
    }
    100% {
        right: 30%;
        top: 25%;
    }
}

.shape-slider img.shape-3 {
    left: 5%;
    top: 10%;
    -webkit-animation: moveShape3 20s linear 2s infinite alternate;
            animation: moveShape3 20s linear 2s infinite alternate;
}

@-webkit-keyframes moveShape3 {
    0% {
        left: 5%;
        top: 10%;
    }
    25% {
        left: 10%;
        top: 25%;
    }
    50% {
        left: 25%;
        top: 30%;
    }
    75% {
        left: 10%;
        top: 10%;
    }
    100% {
        left: 5%;
        top: 11%;
    }
}

@keyframes moveShape3 {
    0% {
        left: 5%;
        top: 10%;
    }
    25% {
        left: 10%;
        top: 25%;
    }
    50% {
        left: 25%;
        top: 30%;
    }
    75% {
        left: 10%;
        top: 10%;
    }
    100% {
        left: 5%;
        top: 11%;
    }
}

.shape-slider img.shape-4 {
    left: 5%;
    top: 100%;
    -webkit-animation: moveShape4 20s linear 2s infinite alternate;
            animation: moveShape4 20s linear 2s infinite alternate;
}

@-webkit-keyframes moveShape4 {
    0% {
        left: 5%;
        top: 96%;
    }
    25% {
        left: 10%;
        top: 75%;
    }
    50% {
        left: 25%;
        top: 85%;
    }
    75% {
        left: 10%;
        top: 90%;
    }
    100% {
        left: 5%;
        top: 100%;
    }
}

@keyframes moveShape4 {
    0% {
        left: 5%;
        top: 96%;
    }
    25% {
        left: 10%;
        top: 75%;
    }
    50% {
        left: 25%;
        top: 85%;
    }
    75% {
        left: 10%;
        top: 90%;
    }
    100% {
        left: 5%;
        top: 100%;
    }
}

.shape-slider img.shape-5 {
    left: 85%;
    top: 100%;
    -webkit-animation: moveShape5 20s linear 2s infinite alternate;
            animation: moveShape5 20s linear 2s infinite alternate;
}

@-webkit-keyframes moveShape5 {
    0% {
        left: 85%;
        top: 96%;
    }
    25% {
        left: 80%;
        top: 75%;
    }
    50% {
        left: 75%;
        top: 85%;
    }
    75% {
        left: 70%;
        top: 90%;
    }
    100% {
        left: 95%;
        top: 100%;
    }
}

@keyframes moveShape5 {
    0% {
        left: 85%;
        top: 96%;
    }
    25% {
        left: 80%;
        top: 75%;
    }
    50% {
        left: 75%;
        top: 85%;
    }
    75% {
        left: 70%;
        top: 90%;
    }
    100% {
        left: 95%;
        top: 100%;
    }
}


/*==============
/*About Me
================*/

.tab-pane .front-end span {
    display: inline-block;
    background-color: #e1e9fa;
    color: #7499e7;
    padding: 3px 10px;
    border-radius: 2px;
    margin: 5px;
    white-space: pre;
    cursor: default;
}

.l-spacing {
    letter-spacing: 1px;
}

.social-navbar-nav li {
    display: inline-block;
    margin-right: 5px;
}

.social-navbar-nav li:last-child {
    margin-right: 0;
}

.social-navbar-nav li a:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}

.social-navbar-nav li a {
    color: #fff;
    text-decoration: none;
    background: #2024a9;
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}

.about-me-tabs>button {
    margin-right: 5px;
    font-weight: 500;
}

.about-me-tabs>button:last-child {
    margin-right: 0;
}

.about-me-tabs>button.active::before {
    content: '';
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.about-me-tabs>button::before {
    content: '';
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.about-me-tabs>button:hover::before {
    content: '';
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


/*==============
/* My Skill
================*/

.skill-parchment {
    top: 0 !important;
    right: 0;
    display: block;
    color: #FF6D31;
    font-weight: 500;
}

.color-1 {
    background-color: #00A0B4 !important;
}

.color-2 {
    background-color: #5d4037 !important;
}


/*==============
/* my portfolio  
==============*/

.portfolio {
    width: 100%;
    height: 400px;
    background-position: top;
    -webkit-transition: ease-in-out 4s;
    -o-transition: ease-in-out 4s;
    transition: ease-in-out 4s;
    -webkit-box-shadow: 0 0 10px 5px #e1e1e1;
            box-shadow: 0 0 10px 5px #e1e1e1;
}

.portfolio-1 {
    background-image: url('../img/portfolio/portfolio1.png');
    background-size: cover;
}

.portfolio-2 {
    background-image: url('../img/portfolio/portfolio2.png');
    background-size: cover;
}

.portfolio-3 {
    background-image: url('../img/portfolio/portfolio3.png');
    background-size: cover;
}

.overlay{
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .8 ease;
    -o-transition: .8 ease;
    transition: .8 ease;
}
.portfolio-hover-info{
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.portfolio-hover-info > h5{
    -webkit-transform: translateX(235px);
        -ms-transform: translateX(235px);
            transform: translateX(235px);
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.portfolio-hover-info > a{
    -webkit-transform: translateX(-235px);
        -ms-transform: translateX(-235px);
            transform: translateX(-235px);
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

/* Portfolio Hover  */
.portfolio-item:hover .portfolio {
    background-position: bottom;
}

.portfolio-item:hover .overlay{
    opacity: 1;
    visibility: visible;
}

.portfolio-item:hover .portfolio-hover-info > h5{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.portfolio-item:hover .portfolio-hover-info > a{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}


/* =============
/* My Services  
================*/
.service-bg{
    background-position: center center;
    background-size: cover;
}

.service {
    background: #fff;
    -webkit-box-shadow: 0 0 25px 5px #d4e0e4;
            box-shadow: 0 0 25px 5px #d4e0e4;
    padding: 40px 60px;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
    transition: .7s all;
}
.service-item > h5{
    margin-top: 30px;
    margin-bottom: 0;
}
.service:hover{
    background-image: -o-radial-gradient(#00c8ff 30%,#0193f9 100%);
    background-image: radial-gradient(#00c8ff 30%,#0193f9 100%);
    cursor: pointer;
}
.service-item > img{
    -webkit-filter: brightness(0);
            filter: brightness(0); 
}
.service:hover .service-item > img{
    -webkit-filter: brightness(100%);
            filter: brightness(100%); 
}
.service:hover .service-item > h5{
    color: #fff;
}

/* =============
/* Team Member 
===============*/
.member-info > h6{
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;
}
.member-info > p{
    margin: 15px 0;
    color: antiquewhite;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
}

.col{
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
}
.col > img{
    cursor: pointer;
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.col > img:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.col span{
    position: absolute;
    top: 50%;
    right: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #0D6EFD;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2;
}

.col span.arrow{
    right: unset;
    left: 0;
    border-left: 15px solid #0D6EFD;
    border-right: 15px solid transparent;
}

.social-link{
    margin-bottom: 1rem;
}

.social-link > a{
    color: #fff;
    margin: 0 3px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.social-link > a:hover{
    border-radius: 50%;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.social-link > a:nth-child(1):hover{
    background-color: #38529A;
    border-color: #38529A;
}

.social-link > a:nth-child(2):hover{
    background-color: #1BB1E4;
    border-color: #1BB1E4;
}

.social-link > a:nth-child(3):hover{
    background-color: #046596;
    border-color: #046596;
}
